body,input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Small screens */
@media (max-width: 600px) {
  .file-container, .properties-container {
    flex: 0 0 auto; /* Shrink to fit content */
    overflow: visible; /* Show content that overflows */
    position: static; /* Remove fixed positioning */
    margin-top: 16px; /* Add some space between the containers */
  }
}


.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: 'primary';
  background-repeat: no-repeat;
  background-position: 50%;
}

.my-footer .card {
  flex-direction: column-reverse;
}

.container {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-ms-check {
  color: #4cceac;
  background: 141b2d;
  padding: 1em;
}

label { 
  display: block; 
  width: 75px; 
  height:20px;
  background-color:'white';
  color:'black';
}

input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px;
  color:#000;
  left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px;
  color:#000;
  left: 26px;
}


input[type="date"]::-webkit-datetime-edit-day-field{
  position: absolute !important;
  color:#000;
  padding: 2px;
  left: 4px;
  
}


.modal-footer {
  display: flex;
  justify-content: flex-start;
}

.center-content {
  justify-content: center;
}